<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
  <urlCompression doStaticCompression="false" doDynamicCompression="false" />
    <httpProtocol>
      <customHeaders>
        <!-- Aggiungi un header per indicare al proxy di non bufferizzare -->
        <add name="X-Accel-Buffering" value="no" />
      </customHeaders>
    </httpProtocol>
    <handlers>
      <add name="iisnode" path="server.js" verb="*" modules="iisnode" />
    </handlers>
    <rewrite>
      <rules>
        <rule name="NodeInspector" patternSyntax="ECMAScript" stopProcessing="true">
          <match url="^server.js\/debug[\/]?" />
        </rule>

        <!-- Regola per _next/static/ -->
        <rule name="NextStaticFiles" stopProcessing="true">
          <match url="^_next/static/(.*)$" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="True"/>
          </conditions>
          <action type="Rewrite" url=".next/static/{R:1}" />
        </rule>

        <!-- Regola per i file statici -->
        <rule name="StaticContent" stopProcessing="true">
          <match url="^([\S]+[.](jpg|jpeg|gif|css|png|js|ico|html|svg|woff2|webp))$" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="True"/>
          </conditions>
          <action type="Rewrite" url="public/{R:1}"/>
        </rule>

        <!-- Tutte le altre richieste a server.js -->
        <rule name="DynamicContent">
          <match url=".*" />
          <action type="Rewrite" url="server.js"/>
        </rule>
      </rules>
    </rewrite>
    <security>
      <requestFiltering>
        <hiddenSegments>
          <add segment="node_modules" />
        </hiddenSegments>
      </requestFiltering>
    </security>
    <iisnode
      nodeProcessCommandLine="node"
      debuggingEnabled="true"
      loggingEnabled="true"
      logDirectory="iisnode"
      watchedFiles="*.js;web.config"
      maxNamedPipeConnectionRetry="100"
      namedPipeConnectionRetryDelay="250"
      maxNamedPipeConnectionPoolSize="512"
      maxNamedPipePooledConnectionAge="30000"
      initialRequestBufferSize="4096"
      maxRequestBufferSize="65536"
    />
  </system.webServer>
</configuration>